<div *ngIf="task" class="container">
  <div class="row py-4">
    <div class="col mx-auto">
      <h1>
        {{ task.name }}
      </h1>
      <p class="h6 text-muted" data-bs-toggle="tooltip" title="{{ task.schedule }}">
        {{ task.schedule }}
      </p>
    </div>
  </div>
</div>

<div *ngIf="task" class="container">
  <table class="table table-light table-hover table-sm">
    <thead>
    <tr>
      <th class="d-none d-lg-table-cell">ID</th>
      <th>Completed</th>
      <th class="d-none d-lg-table-cell">Result</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of task.results">
      <td class="d-none d-lg-table-cell">{{ result.id }}</td>
      <td>{{ result.completed | date : 'medium' }}</td>
      <td class="d-none d-lg-table-cell">{{ result.result }}</td>
      <td>{{ result.state }}</td>
    </tr>
    </tbody>
  </table>
</div>
