<div class="card shadow-sm">
  <div class="card-header">
    <h4 class="my-0 fw-normal text-truncate">{{ label }}</h4>
  </div>
  <div class="card-body">
    @if (trackResponse) {
      <ul class="card-text list-unstyled">
        @for (track of trackResponse.items; track track) {
          <li class="text-truncate">
            <a class="link-dark text-decoration-none" routerLink="/track/{{track.id}}">
              {{ track.artist }} - {{ track.title }}
            </a>
          </li>
        }
      </ul>
    }
  </div>
</div>
