<table *ngIf="music_item" class="table table-light table-sm">
  <tbody>
  <tr>
    <th>ID</th>
    <td>{{ music_item.id }}</td>
  </tr>
  <tr>
    <th>Artist</th>
    <td>{{ music_item.artist }}</td>
  </tr>
  <tr>
    <th>Title</th>
    <td>{{ music_item.title }}</td>
  </tr>
  <tr>
    <th>Album</th>
    <td>{{ music_item.album }}</td>
  </tr>
  <tr>
    <th>Genre</th>
    <td>{{ music_item.genre.name }}</td>
  </tr>
  <tr>
    <th>Year</th>
    <td>{{ music_item.date }}</td>
  </tr>
  <tr>
    <th>Length</th>
    <td>{{ music_item.length * 1000 | date:'mm:ss' }}</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>{{ music_item.type | uppercase }}</td>
  </tr>
  <tr>
    <th>BPM</th>
    <td>{{ music_item.bpm }}</td>
  </tr>
  <tr>
    <th>Key</th>
    <td>{{ music_item.key }}</td>
  </tr>
  <tr>
    <th>Bitrate</th>
    <td>{{ music_item.bitrate / 1000 | number : '0.0-0' }} kbps</td>
  </tr>
  <tr>
    <th>Modified</th>
    <td>{{ music_item.mtime * 1000 | date : 'medium' }}</td>
  </tr>
  <tr>
    <th>Rating</th>
    <td><app-button-rating [music_item]="music_item" (updateMusicItemRatingEvent)="updateMusicItemRating($event)"></app-button-rating></td>
  </tr>
  </tbody>
</table>
