<div class="text-center container">
  <div class="row py-4">
    <div class="col mx-auto">
      @if (track_count) {
        <app-button-stats
          [label]="'Music'"
          [count]="track_count.total"
          [routerLinkText]="'/track'"
        ></app-button-stats>
      }
      @if (playlist_count) {
        <app-button-stats
          [label]="'Playlists'"
          [count]="playlist_count.total"
          [routerLinkText]="'/playlist'"
        ></app-button-stats>
      }
    </div>
  </div>
</div>

<div class="album">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        @if (track_modified) {
          <app-track-list
            [label]="'Recently Modified'"
            [trackResponse]="track_modified"
          ></app-track-list>
        }
      </div>
      <div class="col">
        @if (track_new) {
          <app-track-list
            [label]="'New Releases'"
            [trackResponse]="track_new"
          ></app-track-list>
        }
      </div>
      <div class="col">
        @if (track_rated) {
          <app-track-list
            [label]="'Highest Rated'"
            [trackResponse]="track_rated"
          ></app-track-list>
        }
      </div>
    </div>
  </div>
</div>

